@import './settings.css';

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/source-sans-pro-v13-latin-300.woff2') format('woff2'),
    url('/fonts/source-sans-pro-v13-latin-300.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/source-sans-pro-v13-latin-regular.woff2') format('woff2'),
    url('/fonts/source-sans-pro-v13-latin-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/source-sans-pro-v13-latin-600.woff2') format('woff2'),
    url('/fonts/source-sans-pro-v13-latin-600.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('/fonts/cooper-hewitt-book-400.woff2') format('woff2'),
    url('/fonts/cooper-hewitt-book-400.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('/fonts/cooper-hewitt-medium-500.woff2') format('woff2'),
    url('/fonts/cooper-hewitt-medium-500.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}
