@import './settings.css';
@import './fonts-general.css';
@import './css-defaults-general.css';

html {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 100%;
  color: black;
}

p {
  margin-bottom: 24px;
}

a {
  color: #333;
  font-weight: 600;
  text-decoration: underline;
}

a:hover {
  color: #000;
  text-decoration: none;
}

strong,
b,
dt {
  font-weight: 600;
}
